# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment configs
pyenv.cfg

# Ignore virtual environment folder (if you created one)
env/
venv/


